# LiveKit
LIVEKIT_URL=wss://friday-ai-agent-9lte8bep.livekit.cloud
LIVEKIT_API_KEY=APIA6fQLYTEr6LS
LIVEKIT_API_SECRET=ayFdsGhkb5uxC1cXfQLJczPqvUYYAoyrUyrnx8GKfAK

# AI services
GROQ_API_KEY=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
ELEVENLABS_API_KEY=fa3c7856cfe4d9693b55b719d96c4ad1ca5c12cbb9eb964f9168d9bf73280a14
ELEVENLABS_VOICE_LINK=2GACUxKz9Vybo0sYOtRA

# Optional model overrides
GROQ_LLM_MODEL=llama-3.3-70b-versatile
GROQ_STT_MODEL=whisper-large-v3-turbo
